#  Link PyPower

In [1]:
from collections import OrderedDict

import numpy as np
import pandas as pd

import ams
import andes

print(ams.__version__)
print(andes.__version__)

0.5+140.gc80906d.dirty
1.8.5

In [2]:
sa = andes.load(andes.get_case('ieee14/ieee14_ace.xlsx'),
                no_output=True,
                setup=True,
                pflow=True,)

Generating code for 1 models on 8 processes.

In [3]:
# import pandapower as pp
# import pandapower.networks
# net = pandapower.networks.case14()
# pp.runpp(net)

In [4]:
sp = ams.load(ams.get_case('ieee14/ieee14.xlsx'),
            setup=True)

In [5]:
from ams.solver.ipp import load_ppc, to_ppc
from ams.solver.pypower.runpf import runpf, rundcpf

spc1 = sp.PF.system._ppc
spc0, key_dict, col_dict = sp._ppc, sp._key, sp._col
ppc = load_ppc(ams.get_case('pypower/case14.py'))

In [6]:
sa.PFlow.run()

True

In [7]:
spcc, _, _ = to_ppc(sp)
gen = pd.DataFrame(spcc['gen'], columns=col_dict['gen'])
bus = pd.DataFrame(spcc['bus'], columns=col_dict['bus'])
branch = pd.DataFrame(spcc['branch'], columns=col_dict['branch'])

genp = pd.DataFrame(ppc['gen'], columns=col_dict['gen'])
busp = pd.DataFrame(ppc['bus'], columns=col_dict['bus'])
branchp = pd.DataFrame(ppc['branch'], columns=col_dict['branch'])

In [8]:
busp

,bus_i,type,Pd,Qd,Gs,Bs,area,Vm,Va,baseKV,zone,Vmax,Vmin
0,1.0,3.0,0.0,0.0,0.0,0.0,1.0,1.060,0.00,0.0,1.0,1.06,0.94
1,2.0,2.0,21.7,12.7,0.0,0.0,1.0,1.045,-4.98,0.0,1.0,1.06,0.94
2,3.0,2.0,94.2,19.0,0.0,0.0,1.0,1.010,-12.72,0.0,1.0,1.06,0.94
3,4.0,1.0,47.8,-3.9,0.0,0.0,1.0,1.019,-10.33,0.0,1.0,1.06,0.94
4,5.0,1.0,7.6,1.6,0.0,0.0,1.0,1.020,-8.78,0.0,1.0,1.06,0.94
5,6.0,2.0,11.2,7.5,0.0,0.0,1.0,1.070,-14.22,0.0,1.0,1.06,0.94
6,7.0,1.0,0.0,0.0,0.0,0.0,1.0,1.062,-13.37,0.0,1.0,1.06,0.94
7,8.0,2.0,0.0,0.0,0.0,0.0,1.0,1.090,-13.36,0.0,1.0,1.06,0.94
8,9.0,1.0,29.5,16.6,0.0,19.0,1.0,1.056,-14.94,0.0,1.0,1.06,0.94
9,10.0,1.0,9.0,5.8,0.0,0.0,1.0,1.051,-15.10,0.0,1.0,1.06,0.94
10,11.0,1.0,3.5,1.8,0.0,0.0,1.0,1.057,-14.79,0.0,1.0,1.06,0.94
11,12.0,1.0,6.1,1.6,0.0,0.0,1.0,1.055,-15.07,0.0,1.0,1.06,0.94
12,13.0,1.0,13.5,5.8,0.0,0.0,1.0,1.050,-15.16,0.0,1.0,1.06,0.94
13,14.0,1.0,14.9,5.0,0.0,0.0,1.0,1.036,-16.04,0.0,1.0,1.06,0.94

In [9]:
genp

,bus,Pg,Qg,Qmax,Qmin,Vg,mBase,status,Pmax,Pmin,...,Pc2,Qc1min,Qc1max,Qc2min,Qc2max,ramp_agc,ramp_10,ramp_30,ramp_q,apf
0,1.0,232.4,-16.9,10.0,0.0,1.060,100.0,1.0,332.4,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2.0,40.0,42.4,50.0,-40.0,1.045,100.0,1.0,140.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,3.0,0.0,23.4,40.0,0.0,1.010,100.0,1.0,100.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,6.0,0.0,12.2,24.0,-6.0,1.070,100.0,1.0,100.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,8.0,0.0,17.4,24.0,-6.0,1.090,100.0,1.0,100.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [10]:
gen

,bus,Pg,Qg,Qmax,Qmin,Vg,mBase,status,Pmax,Pmin,...,Pc2,Qc1min,Qc1max,Qc2min,Qc2max,ramp_agc,ramp_10,ramp_30,ramp_q,apf
0,2.0,40.000,15.000,15.0,-40.0,1.03,100.0,1.0,50.0,10.0,...,0.0,0.0,0.0,0.0,0.0,99900.0,99900.0,99900.0,99900.0,0.0
1,3.0,40.000,15.000,15.0,-10.0,1.01,100.0,1.0,50.0,10.0,...,0.0,0.0,0.0,0.0,0.0,99900.0,99900.0,99900.0,99900.0,0.0
2,6.0,30.000,10.000,10.0,-6.0,1.03,100.0,1.0,50.0,10.0,...,0.0,0.0,0.0,0.0,0.0,99900.0,99900.0,99900.0,99900.0,0.0
3,8.0,35.000,10.000,10.0,-6.0,1.03,100.0,1.0,50.0,10.0,...,0.0,0.0,0.0,0.0,0.0,99900.0,99900.0,99900.0,99900.0,0.0
4,1.0,81.442,1.962,100.0,-50.0,1.03,100.0,1.0,200.0,50.0,...,0.0,0.0,0.0,0.0,0.0,99900.0,99900.0,99900.0,99900.0,0.0

In [11]:
rpfc, success = runpf(spcc)

 -- AC Power Flow (Newton)

/Users/jinningwang/Documents/work/mambaforge/envs/ams/lib/python3.9/site-packages/scipy/sparse/linalg/_dsolve/linsolve.py:276: MatrixRankWarning: Matrix is exactly singular
  warn("Matrix is exactly singular", MatrixRankWarning)

In [12]:
success

0

In [13]:
var_name = 'gen'
df = pd.DataFrame(spcc[var_name], columns=col_dict[var_name])
print(df.isna().any().any())
df

False

,bus,Pg,Qg,Qmax,Qmin,Vg,mBase,status,Pmax,Pmin,...,Pc2,Qc1min,Qc1max,Qc2min,Qc2max,ramp_agc,ramp_10,ramp_30,ramp_q,apf
0,2.0,40.000,15.000,15.0,-40.0,1.03,100.0,1.0,50.0,10.0,...,0.0,0.0,0.0,0.0,0.0,99900.0,99900.0,99900.0,99900.0,0.0
1,3.0,40.000,15.000,15.0,-10.0,1.01,100.0,1.0,50.0,10.0,...,0.0,0.0,0.0,0.0,0.0,99900.0,99900.0,99900.0,99900.0,0.0
2,6.0,30.000,10.000,10.0,-6.0,1.03,100.0,1.0,50.0,10.0,...,0.0,0.0,0.0,0.0,0.0,99900.0,99900.0,99900.0,99900.0,0.0
3,8.0,35.000,10.000,10.0,-6.0,1.03,100.0,1.0,50.0,10.0,...,0.0,0.0,0.0,0.0,0.0,99900.0,99900.0,99900.0,99900.0,0.0
4,1.0,81.442,1.962,100.0,-50.0,1.03,100.0,1.0,200.0,50.0,...,0.0,0.0,0.0,0.0,0.0,99900.0,99900.0,99900.0,99900.0,0.0

In [14]:
spc1 == spc0

True

In [15]:
rpf0, _ = runpf(spc0)

 -- AC Power Flow (Newton)

/Users/jinningwang/Documents/work/mambaforge/envs/ams/lib/python3.9/site-packages/scipy/sparse/linalg/_dsolve/linsolve.py:276: MatrixRankWarning: Matrix is exactly singular
  warn("Matrix is exactly singular", MatrixRankWarning)

In [16]:
rpf1, _ = runpf(spc1)

 -- AC Power Flow (Newton)

In [17]:
rpf0.keys()

dict_keys(['version', 'baseMVA', 'bus', 'gen', 'branch', 'areas', 'gencost', 'order', 'et', 'success'])

In [18]:
print(rpf0['success'], rpf1['success'])

0 0

In [19]:
np.array_equal(rpf0['et'], rpf1['et'])

False